/*navigaation  common for all pages  */
.navbar-nav .nav-link {
    font-weight: bold;
    text-transform: uppercase;
    height: 10px;
}
.auth-links a, .auth-links span {
    color: rgba(250, 251, 251, 0.967);
    text-decoration: none;
    margin-left: 15px;
}
.navbar-nav .nav-link.active {
    color: #ffcc00 !important;  /* Change text color to yellow */
    font-weight: bold;          /* Make it bold */
   /* border-bottom: 2px solid #ffcc00;*/ /* Add bottom border */
}

.category-slider {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: rgb(0, 0, 0, 0.9);
<<<<<<< HEAD
    color:white;
=======
    color:white;/**/
>>>>>>> 3f9f5dee3542b0bcd0a0f2572c85093c9ce77d0a
    box-shadow: 2px 0 10px rgb(0, 0, 0, 0.5);
    z-index: 1100;
    overflow-y: auto;
    border-right: 1px solid #ddd;
    padding: 20px;
    transition: left 0.3s ease-in-out;
}
.line {
    height: 2px;

}
.category-slider ul {
    list-style: none;
    padding: 0;
}
.category-slider li {
    padding: 10px 0;
}
.category-slider.show {   
    left: 0;
}
.search-bar {
    flex-grow: 1;
    margin: 0 20px;
    width: 60px;
}
/*profile*/
.profile-img {
    width: 40px;  /* Adjust size */
    height: 40px;
    border-radius: 50%; /* Make it circular */
    margin-right: 1px;
    position: left;
    top: auto;
  }
  .auth-links {
    position: relative;
    right: 20px; /* Push it to the right */
    top: 5px; /* Adjust as needed */
    display: flex;
    gap: 10px;
  }

/* Ensure main content is scrollable */
#main-content {
    max-height: auto; /* Adjust based on layout */
    overflow-y: scroll !important;
    scrollbar-width: 2px; /* Firefox */

}

/* For Webkit Browsers (Chrome, Safari) */
#main-content::-webkit-scrollbar {
    width: 8px;
}

#main-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#main-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

#main-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}
