/* Contact Page Background */
.container{
  /*background-image: url('/static/images/contact.jpg'); Replace with your image URL */
  background-color: #222;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: auto;
  color: rgb(5, 5, 5);
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Adjust spacing */
.contact-container h1,
.contact-container p {
  margin-bottom: 20px;
}

